

* {
  font-family:  sans-serif; /* delete for later */
}

#cmf-wrap {
  text-align: center;
  color: #414143;
  width: 1200px;
  margin: 50px auto 0px;
}

#cmf-wrap h3 {margin: 0px;}

.cmf-row {
  position: relative;
  overflow: auto;
  padding: 20px;
}

.col-header {
  border-bottom: 1px solid #565656;
  padding: 0px 0px 10px;
  width: 90%;
  margin: 0px auto;
}

.cmf-col {
  display: inline-block;
  width: 33%;
  transition: 0.2s ease-in all;
}

.track-box {
  height: 60px;
}

.track-box h3 {
  position: relative;
  top: 30%;
  color: #222;
}





.cmf-info-box {
  padding: 10px;
  font-size: 13px;
  margin-top: 3px;
  cursor: pointer;
  transition: 0.3s ease all;
}


/* Support Track Styles */

.support-row .cmf-info-box {
  background-color: #fff;
  color: #eb7e02;
  border: 1px solid #eb7e02;
} 

.support-row .cmf-info-box:hover {
  background-color: #ffc637;
  color: #FFF
}

.support-row .cmf-info-box-selected {
	background-color: #dd7909;
  color: #FFF;
}




/* Techincal Track Styles */

.technical-row .cmf-info-box {
  background-color: #fff;
  color: #519051;
  border: 1px solid #519051;
} 

.technical-row .cmf-info-box:hover {
  background-color: #62c462;
  color: #FFF
}

.technical-row .cmf-info-box-selected {
	 background-color: #519051;
  color: #FFF;
}


/* Managerial Track syles */

.managerial-row .cmf-info-box {
  background-color: #fff;
  color: #0072c6;
  border: 1px solid #0072c6;
} 

.managerial-row .cmf-info-box:hover {
  background-color: #0072c6;
  color: #FFF
}

.managerial-row .cmf-info-box-selected {
	background-color: #005898;
  color: #FFF;
}




.role-col a {
  text-decoration: none !important;
}

.vertical-centered-box {
  
  transform: translateY(-43%);
  -ms-transform: translateY(-43%);

} 



.cmf-col-hidden {
  opacity: 0;
}

.cmf-col-visible {
  opacity: 1;
}


/** Line Styles
---------------------*/
.line-1 {
  height: 2px;
  border-top: 1px solid rgb(250, 175, 59);
  width: 166px;
  transform: translateX(-18%) translateY(-56px) rotate(45deg);
  -ms-transform: translateX(-18%) translateY(-56px) rotate(45deg);
}

.line-2 {
   height: 2px;
  border-top: 1px solid rgb(250, 175, 59);
  width: 166px;
  transform: translateX(-18%) translateY(60px) rotate(-45deg);
  -ms-transform: translateX(-18%) translateY(60px) rotate(-45deg);
}


.line-3 {
  height: 2px;
  border-top: 1px solid rgb(250, 175, 59);
  width: 57px;
  transform: translateX(-98%) translateY(20px) rotate(-11deg);
  -ms-transform:translateX(-98%) translateY(20px) rotate(-11deg);
}

.line-4 {
  height: 2px;
  border-top: 1px solid rgb(250, 175, 59);
  width: 57px;
  transform: translateX(-98%) translateY(-33px) rotate(11deg);
  -ms-transform: translateX(-98%) translateY(-33px) rotate(11deg);

}


.line-5 {
  height: 2px;
  border-top: 1px solid rgb(250, 175, 59);
  width: 37px;
  transform: translateX(-98%) translateY(8px) rotate(-10deg);
  -ms-transform: translateX(-98%) translateY(8px) rotate(-10deg);
  
}


.line-6 {
  height: 2px;
  border-top: 1px solid rgb(250, 175, 59);
  width: 37px;
  transform: translateX(-98%) translateY(-20px) rotate(10deg);
  -ms-transform: translateX(-98%) translateY(-20px) rotate(10deg);
}


